<h1>Welcome to instaGroups</h1>

<%= link_to "sign up", new_user_path %>

<%= link_to "sign in", sign_in_path %>

<p class="frontpage"> I'm too cool for Sass, Scss, CSS, or what so ever.... </p>

<p> Just kidding.. I have designers working on it xDD</p>